NEXT_PUBLIC_SUPABASE_URL=https://seu-projeto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua-chave-anon
IA_API_KEY=sk-or-v1-sua-chave-openrouter
OPENROUTER_MODEL=openai/gpt-oss-120b:free
NEXT_PUBLIC_IA_PROVIDER=openrouter